<div style="width: 100%; height: 80%;">

  <%= content_tag :div, id: 'calendar', style: "height: 100%; width: 100%", class: "time_zone_info", data: {time_zone: @time_zone} do %>
  <% end %>
</div>

<div style="margin-top: 15px">
  <%= button_tag "Save Poll", {class: "btn btn-primary col-md-2 col-md-offset-5", onclick: "submitPoll()"} %>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "MindFusion.Scheduling.js" %>
  <%= javascript_include_tag "doodle_replacement.js" %>
  <%= javascript_include_tag "TimeForm.js" %>
<% end %>