<head>
  <div class="menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'Current Polls', admin_root_path %>
        <!--        <a href="homepage">Current Polls</a>-->
      </div>
      <div>
        <ul class="nav navbar-nav navbar-right">
          <li><a>Logged in as: <%= @current_user %></a></li>

          <li> <%= link_to 'Log Out', destroy_admin_session_path, method: :delete %> </li>
          <!--          <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log Out </a></li>-->
        </ul>
      </div>
    </div>
  </div>
</head>

<h1 style="text-align: center;position: relative; top: 80px; margin:auto">Edit Poll</h1>

<div class="row" style="position: relative; top: 100px">
  <div class = "col-md-4 col-md-offset-4">
    <%= form_tag '/poll/edit_time_slots', method: :post, name: "pollForm", onsubmit: "return validateNewPollForm()" do %>

      <div class="field form-group">
        <%= label_tag :title, "Title" %><br />
        <%= text_field_tag :title, @poll.poll_name, :class => 'form-control', name: "title" %>
      </div>

      <div class="field form-group">
        <%= label_tag :location, "Location" %>
        <%= text_field_tag :location, @poll.meeting_location, :class => 'form-control', name: "location" %>
      </div>

      <div class="field form-group">
        <%= label_tag :time_zone, "Time Zone" %>
        <%= select_tag :time_zone, options_for_select([ "My Time Zone" ,"PST", "MST", "CST", "EST"], @poll.time_zone), :class => 'form-control' %>
      </div>

      <div>
        <%= label_tag :poll_expiration_date, "Poll Expiration Date (Optional)" %>
        <%= text_field_tag :poll_expiration_date, @poll.deadline, :class => 'form-control', type: "date", name: "expiration_date" %>
      </div>

      <div class="field form-group">
        <%= label_tag :votes_per_timeslot, "Maximum Number of Votes Per Time Slot (Optional)" %>

        <% if @poll.votes_per_timeslot != "" %>
          <%= text_field_tag :votes_per_timeslot, @poll.votes_per_timeslot.to_i, :class => 'form-control', type: "number", name: "votes_per_timeslot" %>
        <% else %>
          <%= text_field_tag :votes_per_timeslot, "", :class => 'form-control', type: "number", name: "votes_per_timeslot" %>
        <% end %>
      </div>

      <div class="field form-group">
        <%= label_tag :votes_per_person, "Maximum Number of Votes Per Person (Optional)" %>

        <% if @poll.votes_per_person != "" %>
          <%= text_field_tag :votes_per_person, @poll.votes_per_person.to_i, :class => 'form-control', type: "number", name: "votes_per_person" %>
        <% else %>
          <%= text_field_tag :votes_per_person, "", :class => 'form-control', type: "number", name: "votes_per_person" %>
        <% end %>

      </div>

      <div class="field form-group">
        <%= label_tag :notes, "Notes (Optional)" %><br />
        <%= text_area_tag :notes, @poll.poll_description, size: "70x5", class: "md-textarea form-control"%>
      </div>

      <div class="actions">
        <%= button_tag "Choose Time Slots", :class => 'btn btn-primary form-control' %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :form_validation_javascript do %>
  <%= javascript_include_tag "FormValidation.js" %>
<% end %>


