<h1 style="text-align: center">Create New Poll</h1>

<div class="row">
  <div class = "col-md-4 col-md-offset-4">
    <%= form_tag '/poll/choose_time_slots', method: :post do %>

      <div class="field form-group">
        <%= label_tag :title, "Title" %><br />
        <%= text_field_tag :title, "", :class => 'form-control' %>
      </div>

      <div class="field form-group">
        <%= label_tag :location, "Location" %>
        <%= text_field_tag :location, "", :class => 'form-control' %>
      </div>

      <div class="field form-group">
        <%= label_tag :time_zone, "Time Zone" %>
        <%= select_tag :time_zone, options_for_select([ "My Time Zone" ,"Pacific", "Mountain", "Central", "Eastern"], "My Time Zone"), :class => 'form-control' %>
      </div>

      <div>
        <%= label_tag :votes_per_timeslot, "Poll Expiration Date (Optional)" %>
        <%= text_field_tag :votes_per_timeslot, "", :class => 'form-control', type: "date" %>
      </div>

      <div class="field form-group">
        <%= label_tag :votes_per_timeslot, "Maximum Number of Votes Per Time Slot (Optional)" %>
        <%= text_field_tag :votes_per_timeslot, "", :class => 'form-control', type: "number" %>
      </div>

      <div class="field form-group">
        <%= label_tag :votes_per_person, "Maximum Number of Votes Per Person (Optional)" %>
        <%= text_field_tag :votes_per_person, "", :class => 'form-control', type: "number" %>
      </div>

      <div class="field form-group">
        <%= label_tag :notes, "Notes (Optional)" %><br />
        <%= text_area_tag :notes, nil, size: "70x5", class: "md-textarea form-control"%>
      </div>

      <div class="actions">
        <%= button_tag "Choose Time Slots", :class => 'btn btn-primary form-control' %>
      </div>
    <% end %>
  </div>
</div>
