<h1 style="text-align: center">Poll Title: <%= @title %></h1>

<div style="width: 100%; height: 84vh;">

  <%= content_tag :div, id: 'voting-calendar', style: "height: 100%; width: 100%", class: "calendar_data", data: {poll_data: @poll, timeslot_data: @timeslots} do %>
  <% end %>
</div>


<div class="input-group col-md-2 col-md-offset-5" style="margin-top: 20px; margin-bottom: 20px">
  <input type="text" class="form-control" id="username" placeholder="Input Your Name" aria-label="Input Your Name" aria-describedby="basic-addon2">
  <span class="input-group-btn">
    <%= button_tag "Save", {class: "btn btn-primary", onclick: "submitVotes()", type: "button"} %>
  </span>
</div>

<% content_for :voting_calendar_javascript do %>
  <%= javascript_include_tag "MindFusion.Scheduling.js" %>
  <%= javascript_include_tag "VotingCalendar.js" %>
  <%= javascript_include_tag "VoteForm.js" %>
<% end %>