<h1 style="text-align: center">Poll Results for Poll: <%= @title %></h1>

<p>Here are the reservers: <%=@reservers %></p>

<table style="width:1500px;margin:0 auto;font-size:20px" class="table table-striped center table-sm">
  <thead>
  <tr>
    <th scope="col">User ID</th>
    <th scope="col">Date</th>
    <th scope="col">Timeslot</th>
    <th scope="col">Available</th>
  </tr>
  <tbody>
  <tr>
    <td>123</td>
    <td>12-10-2021</td>
    <td>11:00am-11:30am</td>
    <td>False</td>
  </tbody>
  <% @timeslots.each do |timeslot| %>
    <% if timeslot.available == false %>
      <% @reservers.each do |reserver| %>
        <td><%= reserver.name %></td>
        <td><%= timeslot.date %></td>
        <td><%= timeslot.start_time %></td>
        <td>False</td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  <% @timeslots.each do |timeslot| %>
    <% if timeslot.available == true %>
      <% @reservers.each do |reserver| %>
        <td><%= reserver.name %></td>
        <td><%= timeslot.date %></td>
        <td><%= timeslot.start_time %></td>
        <td>True</td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </thead>
</table>