<!DOCTYPE html>
<html>
<head>
  <title>DoodleReplacement</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% flash.each do |type, msg| %>
  <% if type == :alert or type == :info %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
<% end %>
<%= yield %>
<%= yield :calendar_javascript %>
<%= yield :form_validation_javascript %>
</body>
</html>
